<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tesseract" publicKeyToken="ebeb3d86bef60cbe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>